html,
body,
.main{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    margin:0;
}

.main{
    background: #adabab;
}

.Vk_window{
    position: fixed;
    top: 10%;
    left: 29%;
    width: 800px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.h1{
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 30px;
    padding: 10px 0 0 20px;
    background: #ffa07a;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.cont_input {
    width: 50%;
    position: relative;
    height: 50px;
    background: #d3d3d37a;
}

input{
    width: 90%;
    border: none;
    border-radius: 20px;
    padding: 5px 5px 5px 35px;
    margin: 10px;
    height: 30px;
    box-sizing: border-box;
}

input:focus{
    outline: none;
}

.cont_input i{
    position: absolute;
    top: 17px;
    left: 20px;
}

.left_list_friends,
.right_list_friends{
    width: 50%;
    height: 440px;
    box-sizing: border-box;
    padding: 10px 10px 0;
    overflow: hidden;
}

.left_list_friends:hover,
.right_list_friends:hover{
    overflow: auto;
}

.left_list_friends{
    border-right: 1px solid #d3d3d34d;
}

.left_list_friends>div:first-child,
.right_list_friends>div:first-child{
    border-bottom: 1px solid #d3d3d34d;
    padding: 0 10px 10px;
    font-weight: 600;
}

#left_list,
#right_list{
    width: 100%;
    height: 391px;
}

.bottom{
    width: 100%;
    height: 60px;
    background: #d3d3d37a;
    border-radius: 0 0 10px 10px;
}

.bottom span{
    display: inline-block;
    float: right;
    padding: 10px 15px;
    color: #fff;
    background: #ffa07a;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.container_fr{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-bottom: 1px solid #d3d3d34d;
}

.ava_fr{
    width: 70px;
}

.ava_fr img{
    width: inherit;
    border-radius: 50px;
}

.name_fr{
    width: 270px;
    line-height: 70px;
    padding-left: 20px;
    box-sizing: border-box;
    font-weight: 600;
}

.cont_btn{
    line-height: 70px;
    font-size: 20px;
    color: #8080807a;
    cursor: pointer;
}

.right_list_friends .btn_action{
    transform: rotate(45deg);
}